.dialog {
    display: flex;
    align-items: center;
    justify-content: center;


}

.content {
    background-color: #fff;
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: start;
    font-size: 2rem;
    padding: 11px 3px;

    padding: 1.5rem 2.5rem;
    line-height: 3rem;
}

.header p {
    /* margin-bottom: 16px; */
    color: #666666;
    font-size: 1.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    font-family: 'Poppins';
}

.cancelButton {
    background-color: #FFFFFF !important;
    margin-right: 8px !important;
    color: #333333 !important;
    border: 1px solid #333333 !important;
    background: white !important;
    font-weight: 500 !important;
    border-radius: 7px !important;
    font-family: 'Poppins' !important;
}

.deleteButton {
    background-color: #DF2C1D !important;
    color: #FFFFFF !important;
    font-weight: 500 !important;
    border-radius: 7px !important;
    font-family: 'Poppins' !important;

}